<% include ../partials/header %>

<!-- <div class="container"> -->
	<header id="header" class="jumbotron">
		<div class="container">
			<h1>Welcome to YelmCamp!</h1>
			<p>View our hand-picke campground from all over the world"</p>
			<p>
				<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new campground</a>
			</p>
			<p>
				<form action="/campgrounds" method="GET" class="form-inline ">
					<div class="form-group">
						<input class="form-control" type="text" name="search" placeholder="Campground search..." minlength="1" required>
						<input class="form-control btn btn-default" type="submit" value="search">
					</div>
				</form>
			</p>
		</div>
	</header><!-- /header -->
	<div class="row text-center">
		<% campgrounds.forEach(function(campground){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<h4> <%= campground.name %> </h4>
						</div>
						<img src="<%= campground.image %> " alt="">
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary" title="">More info</a>
					</p>
				</div>
		<% }); %>
	</div>
<!-- </div> -->


<% include ../partials/footer %>